@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
/* body {
  @apply font-sans bg-white text-gray-900;
} */
 *{
  font-family: "Outfit", sans-serif;
 }
 html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
